html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[class*="leva-t-"]:has(> div[style*="height: 0px"]) {
    width: 100px;
    opacity: 0.2;
}

[class*="leva-t-"]:not(:has(> div[style*="height: 0px"])) {
    width: 380px;
}

/* 建議加上動畫 */
[class*="leva-t-"] {
    transition: width 0.3s ease, opacity 0.3s ease;
}

[class*="leva-t-"] {
    left: 10px;
}
